@import "tailwindcss";

button {
  cursor: pointer;
}


/* .lucide {
  vector-effect: non-scaling-stroke;
} */

.bg-logo {
  background-image: url("/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
